body {
    background-color: #f8f6f6;
    font-family: "Microsoft YaHei","serif","sans-serif","cursive","fantasy","monospace";
}
input{
    font-family: "Microsoft YaHei","serif","sans-serif","cursive","fantasy","monospace";
}
ul{
	list-style:none;
}
body a{
    text-decoration: none !important;
}
body a:focus {
    outline: none;
}
.tohide{
    display: none;
}
label.input-required::after{
    display: block;
    width:0px;
    overflow-x: visible;
    content: "*";
    float:right;
    color:red;
    font-size: 18px;

}

/*==table.striped=========== */
table.striped{
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
}
table.striped > tbody > :nth-child(2n+1), ul.striped > :nth-child(2n+1) {
    background-color: #f9f9f9;
}
table.striped > tbody > tr{
	min-height:58px;
}
table.striped > tbody > tr > td,table.striped > tbody > tr > th{
	border-top:none;
	line-height:1.5em;
}
table.striped > tbody > tr > td.togray{
    color:#bbb;
}
table.striped > tbody > tr > td strong{
	display:block;
	color:#4C9ED9;
}
table.striped > tbody > tr > td > .row-actions{
    visibility: hidden;
}
table.striped > tbody > tr:hover > td > .row-actions{
    visibility: visible;
}
table.striped > tbody > tr > td .row-actions span{
    display:inline-block;
    margin-right:8px;
    padding:3px 6px;
    height: 21px;
    overflow: visible;
    background-color:#4c9ed9;
    color:#fff; 
    border:1px solid #2482c6;
    border-radius: 2px;
    font-size:12px;
    line-height: 12px;
    cursor: pointer;
}
table.striped > tbody > tr > td .row-actions span:hover{
    background-color:#2482c6;
}
table.striped > tbody > tr > td .row-actions span.delete{
    background-color:#ef3c3c;
    border-color: #db2a2a;
}
table.striped > tbody > tr > td .row-actions span.delete:hover{
    background-color:#db2a2a;
}
table.striped > tbody > tr > td .row-actions span a{
    color:#fff;
}
table.striped > tbody > tr > td span.line-circle i{
    display:inline-block;
    margin-right:5px;
    padding:0;
    height: 12px;
    width:12px;
    background-color:#f25959;
    border:1px solid #e02a2a;
    border-radius: 50%;
    cursor: pointer;
}
table.striped > tbody > tr > td span.line-circle i:hover{
    background-color:#e02a2a;

}
table.striped > tbody > tr > td span.line-circle i.tolight{
    background-color:#16c017;
    border-color: #0c950d;

}
table.striped > tbody > tr > td span.line-circle i.tolight:hover{
    background-color:#0c950d;

}
table.striped > tbody > tr > td.togray span.line-circle{
    display: none;
}
table.table > thead > tr > th{
	border-bottom: 1px solid #e5e5e5;
}
table.table > thead > tr > th.select{
    width:0px;
}
table.table > tfoot > tr > th{
	border-top: 1px solid #e5e5e5;
}
table.table-userlist>tbody .issend{
    color:green;
}
table.table-userlist>tbody .notsend{
    color:red;
}

/**
 *hearder
 */
 #header {
    background: #064482;
    background-image: linear-gradient(45deg,#064482, #430740);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    padding-top:15px;
    color:#ffffff;
    margin-bottom:20px;
}
#header h1 {
    color:#ffffff;
    font-size:50px;
    line-height:50px;
    font-weight:400;
    text-align:center;
}
#header nav{
    width:100%;
    padding-right:118px;

}    
#header .login-info-bar {
    width:118px;
    margin-left:-118px;
    margin-top:28px;
    cursor:pointer;
    position: relative;
    height:20px;
}
#header .login-info-bar i.fa {
    width:14px;
}
#header .login-info-bar i.fa:first-child {
    font-size:16px;
    line-height: 16px;
    color:#4C9ED9;
}
#header .login-info-bar i.fa:nth-last-child(1) {
    font-size:12px;
    line-height: 16px;
    color:#eee;
}
#header .login-info-bar span {
    line-height: 16px;
    font-size:16px;
    color:#4C9ED9;
    max-width:90px;
    display:inline-block;
    padding-right:5px;
}
#header .login-info-bar ul.submenu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    font-size: 12px;
    padding: 0px 6px;
    border: 1px solid #ddd;
    line-height: 32px;
    min-width: 88px;
    font-weight: bold;
    border-radius: 3px;
}
#header .login-info-bar ul.submenu li{
    float: none;
}
#header .login-info-bar ul.submenu a{
    display: inline-block;
    width: 100%;
}
#header .login-info-bar ul.submenu a:hover{
    color: #4C9ED9;
}
#header .login-info-bar:hover ul{
    display: block;
}



/* site-navbar ======================================================================================================== */


.site-navbar{
	font-size: 18px;
	margin-left:-15px;
	margin-bottom:0;
	padding:10px 0 0 0;
	color:#fff;
}
.site-navbar li{
	position: relative;
	float: left;
}
.site-navbar li:hover{z-index: 2}
.site-navbar a{
	display:block;
	padding:10px 15px;
	color: #fff;
}
.site-navbar li:hover > a,
.site-navbar li.active a:hover,
.site-navbar a:hover{
	color: #45B6F7;
}

.site-navbar li.active > a{
	color: #45B6F7;
}
/**
 *bodier
 */

 #bodier{
    min-height: 650px;
}
.wrap{
    float:left;
     width:100%;
     min-height:450px;
     padding-right:450px;
}

.login-bar{
  float:left;
  width:450px;
  padding:100px 20px;
  margin-left:-450px;
}
.btn-group{
  margin-bottom:15px;

}
.btn-group a{
    display: inline-block;
    margin-left: 10px;
}
.btn-group a:nth-child(n+2){
    margin-left: 10px !important;
}

.widget {
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    overflow: hidden;
}
.widget form{
	padding:30px 10px 20px;
}
.widget form .form-group > div > label,.pop-box form .form-group > div > label,.form-login .form-group > div > label {
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
	font-weight:normal;
	color:#777;
    display: block;
    min-width:10px;
    min-height: 27px;
}
.widget form span.error,.pop-box form span.error,.pop-box .msgbox span.error,.form-login span.error{
    color:red;
}
.widget form span.error.success-msg,.pop-box form span.error.success-msg,.pop-box .msgbox span.success-msg{
    color:green;
}
.widget > h3 {
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb;
    margin: 0;
    padding: 11px 15px 10px;
    position:relative;
}
.widget > h3 i{
    margin-right:8px;
    color:#3ba0ea;
}
.widget > h3 .info-box,.form-group .info-box{
    position:absolute;
    padding:8px;
    color:#fff;
    right:0;
    top:40px;
    font-size:10px;
    background-color: #3ba0ea;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    z-index:9999;
    display:none;
    max-width:200px;
}
.widget .chart{
    height:600px;
    min-width:200px;
    padding-top:30px;
    padding-bottom:10px;
}
.widget .table th,.widget .table td{
    text-align:center;
}
.widget dl{
    margin-top:15px;
    font-size:16px
}
.widget-click > h3{
    cursor: pointer;
}
.widget-click > h3:hover{
    background-color: #eee;
}
.widget-hidden .widget-to-hidden{
    display: none;
} 
.widget-click.widget-hidden h3 i.fa-chevron-down{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);     /* IE 9 */
    -moz-transform:rotate(90deg);    /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 
}
/*.widget dl dt{
    color:#3ba0ea
    }*/
    .widget .table {
        margin-bottom:0;
    }


    /*home-box*/
    .home-box .user-info-cover{
        height:75px;
        background-color:#4c9ed9;
        position: relative;
    }
    .home-box .user-info-cover .headpic{
        width: 60px;
        height: 60px;
        padding: 3px;
        background: rgba(255,255,255,0.3);
        border-radius: 50%;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -30px;
        background-image:url(../img/logo.png);
    }
    .home-box .user-info-box{
        text-align:center;
        margin-top:20px;
        padding:8px 10px;
    }
    .home-box .user-info-box .name{
        font-size:20px;
        font-weight:bold;
        color:#4c9ed9;
        margin-bottom: 5px;
    }
    .home-box .user-info-box .role{
        font-size:12px;
        color:#9c9c9c;
        margin-bottom: 5px;
    }
    .home-box .user-info-box .time{
        color:#444;
    }

    .home-box .bignav-box{
        border-radius: 4px;
        border:1px solid #3188C8;
        margin-bottom:5px; 
    }
    .home-box .bignav-box .bignav-title{
        display: block;
        height:105px;
        padding:10px;
        line-height:85px;
        font-size:35px;
        letter-spacing:10px;
        text-align:center;
        background-color: #4c9ed9;
        color:#fff;
    }
    .home-box .bignav-box .bignav-title:hover{
        background-color: #3188C8;
    }

    .pop-box{
        position: fixed;
        width: 100%;
        height:100%;
        left:0;
        top:0;
        background: rgba(0, 0, 0, 0.6);
        display: none;

    }
    .pop-box form{
        position: absolute;
        margin: auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
        padding:20px 10px;
        min-height: 200px;
        height:60%;
        max-width: 700px;
        background-color:#f6f6f6;
        border:1px solid #777;
        border-radius: 4px;
    }
    .pop-box form h3{
        text-align: center;
        margin-bottom:25px; 
    }
    .pop-box.pop-addline form{

        height:260px;
    }
    /*删除线路确认框*/
    .pop-delline .msgbox,.pop-delgro .msgbox,.pop-deldev .msgbox,.pop-deluser .msgbox{
        text-align:center;
        position: absolute;
        margin: auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
        padding:20px 10px;
        min-height: 200px;
        height:200px;
        max-width: 500px;
        background-color:#f6f6f6;
        border:1px solid #777;
        border-radius: 4px;
    }
    .remove-x{
        position: absolute;
        right:12px;
        top:10px;
        cursor: pointer;
        color:#4c9ed9;
        font-size:20px;
    }
    .remove-x:hover{
        color:#3383bd;
    }

/**
 *footer
 */
 #footer {
    color: #ddd;
    padding: 30px 0 20px;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
    background-color:#333;
}
#footer ul > li + li:before {
    padding: 0 10px 0 0px;
    color: #ddd;
    content: "|";
}
.aside-fix{
    position:fixed;
    right:0;
    top:200px;

}

.pick-show {
    width:30px;
    height:30px;
    position:absolute;
    left:-30px;
    top:0px;
    border-radius:4px;
    background-color:#3ba0ea;
    text-align:center;
    transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transition:all ease-in-out 0.1s;
}
.aside-active .pick-show {
    transform:scaleX(1) !important;
    -moz-transform:scaleX(1) !important;
    -webkit-transform:scaleX(1) !important;
    -o-transform:scaleX(1) !important;
}

.pick-show:hover{
    cursor:pointer;
    background-color:#99c9ed;
}

.pick-show i{
    height:30px !important;
    line-height:30px !important;
    font-size:18px;
    top:5px;
    color:#fff; 
    /*//margin-left:-20px;*/
}

.f-main-pick{
    width:0px;
    transition:all ease-in-out 0.3s;
    visibility:hidden;
}
.main-pick {
    width:200px;
    padding:10px 20px;
    border: 1px solid #eaeaea; 
    background-color:#ffffff;
    border-radius:4px;
}
.aside-active .f-main-pick{
    width:200px;
    visibility:visible;
}
.main-pick select{
    background-color:#eee;
}
.main-pick .form-group{
    position:relative;
}

.rd-container {
    border-radius: 4px;
    border-color:#3ba0ea !important;
    position:fixed !important;
}
.rd-days th, .rd-days td {
    padding: 3px;
}

/*百度map*/
#map-box{
    height: 1100px;
    width:100%;
}
#map-box .BMap_bubble_title{
    font-size:16px;
    margin-bottom:5px;
}
#map-box .BMap_bubble_content b{
    font-size:14px;
    display: inline-block;
}
#map-box .BMap_bubble_content span{
    color:#eee;
    font-weight:bold;
}
#map-box .BMap_bubble_content a{
    color:#4C9ED9;
    font-weight:bold;
}
#map-box .BMap_bubble_content a:hover{
    color:#2285CC;
}
.btn-listen{
    display: inline-block;
    height: 30px;
    line-height: 15px;
    margin-top:-5px;
}